body {
  margin: 0;
  padding: 0;
  background-image: url('/assets/giphy.gif');
  background-size: auto; 
  background-position: right bottom;
  background-repeat: no-repeat;
  font-family: Orbitron,'BlenderProBook', sans-serif;
  min-height: 100vh;
}
